
html {
    cursor: url(images/cursors/cursorlightning.svg), auto;
}



body {
    background-color: inherit;
    font-family: Inter;
    width: fit-content;
    overflow: scroll;
}

#gokuimg{
  position:absolute;
  top: 595px;
  left: 1180px;
  height: 140px;
  width: auto;
  transform: scaleX(-1);
}
.wrapper {
    position: relative;
    flex-direction: column;
}

.sidebar{
    position: fixed;
    width: 256px;
    height: 100%;
    border: solid rgba(211, 211, 222, 0.808);
    border-width: 0px 1.5px 0px 0px;
    top: -1px;
    left: 0px;
    background: #f5f5f5;
    z-index: 10;

}

#pcode {
  position: relative;
  left: 45px;
  top: 590px;
  font-size: 13px;
  width: 148px;
  font-weight: 700;
  line-height: 1.7;
}

#webgit {
  position: relative;
  left: 45px;
  top: 600px;
  font-size: 13px;
  width: fit-content;
  font-weight: 500;
  line-height: 1.7;
  font-style: italic;
  transition: .2s;
  opacity: 75%;
}

#webgit:hover {
  transform: scale(1.10);
    text-decoration: underline;
    text-decoration-color: #FFC482;
    color: #FFC482;
    text-underline-offset: 1px;
    cursor:pointer;
    opacity: 100%;
}

.melol{
    position: absolute;
    clip-path: circle();
    width: 65px;
    top: 47px;
    left: 27px;
    object-fit: cover;
    height: auto;
    transition: .25s;
}

.melol:hover {
    transform: scale(1.15);
}

.melol2 {
    position: absolute;
    clip-path: circle();
    width: 100px;
    top: 144px;
    left: 440px;
    object-fit: cover;
    height: auto;
    animation: fade-down .9s;
    transition: .25s;
}

.melol2:hover {
    transform: scale(1.15);
}

.jv{
    position: relative;
    font-size: 22px;
    font-weight: 500;
    left: 110px;
    top: 45px;
}

.pstatus {
    position: relative;
    left: 110px;
    top: 37px;
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
}

.mainul{
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: auto;
    padding: 0px;
    left: 75px;
    top: 190px;
    font-size: 15px;
}
.mainul li{
    position: relative;
    top: -35px;
}

.mainul li a {
    position: relative;
    margin: 0px;
    padding: 0px;
}


.maintxt {
    position: relative;
    top: -40px;
    left: -31px;
    font-weight: 600;
    font-size: 13px;
}

.sidebar ul li {
    text-align: left;
    line-height: 2.5;
    font-weight: 500;
    width: fit-content;
    
}

.iprofile {
    position: relative;
    left: -80px;
    top: 3.5px;
    width: 20px;
    padding: 0px;
}

.itools {
    position: relative;
    left: -92px;
    top: 3px;
    width: 20px;
}

.ifire {
    position: relative;
    left: -118px;
    top: 2.5px;
    width: 40px;
}
.ithought{
    position: relative;
    left: -109px;
    top: 3px;
    height: 16px;
    width: 16px;
}

.istar{
    position: relative;
    left: -86px;
    top: 8px;
    height: 23px;
    width: 23px;
    transform: scaleX(-1);
    rotate: -45deg;
}
.socialtxt{
    color: inherit;
    position: relative;
    top: -60px;
    left: -30px;
    font-size: 13px;
    font-weight:600;
}

.socialul{
    color: inherit;
    fill: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: auto;
    padding: 0px;
    left: 75px;
    top: 420px;
    font-size: 15px;
}

.socialul li{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2.5;
    height: auto;
    top: -55px;
}

.iig{
    position: relative;
    height: 14px;
    width: 14px;
    left: -95px;
    top: 2px;
}

.itwitter{
    position: relative;
    height: 15px;
    width: 15px;
    left: -70px;
    top: 1.9px;
}

.igit{
    position: relative;
    height: 14px;
    width: 14px;
    left: -68.8px;
    top: 2.75px;
}

.isb {
    position: relative;
    height: 14px;
    width: 14px;
    left: -88px;
    top: 3px;
}

#toggleDark{
    font-size: 25px;
    cursor: pointer;
    position: fixed;
    top: 160px;
    left: 1150px;
    transition: .1s;
    animation: fade-down 1s;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    width: 60px;
    height: 42px;
    border: 2px solid #D9D9E3;
}

.bi-moon-fill {
    background-color: #F5F5F5;
}

#toggleDark:hover {
    transform: scale(1.10);
}


.projhov {
    text-align: center;
    box-sizing: border-box;
    background-color: inherit;
    border: inherit;
    position: relative;
    padding-right: 30px;

}

.navtxt {
    text-align: center;
    box-sizing: border-box;
    background-color: inherit;
    border: inherit;
    position: relative;
    padding-right: 30px;
}

.projdrop {
    position: relative;
}

.projectmen {
    width: 53px;
    height: 53px;
    position: absolute;
    top: 17px;
    left: 3px;
    text-align: left;
    padding: 0px;
    font-size: 13px;
    z-index: 1;
    padding-top: 8px;
    pointer-events: none;
}

.projdrop:hover .projectmen{
    display: block;
    pointer-events: auto;
}

.projdrop:hover .projectmen a{
    opacity: 1;
    pointer-events: auto;
}

.projectmen a{
    line-height: 25px;
    position: relative;
    top: -2px;
    left: -2px;
    padding: 0px;
    opacity: 0;
    transition: ease-in-out opacity 0.3s;
    pointer-events: none;
}


li {
    list-style: none;
    display: inline-block;
    padding-right: 0px;
    transition: .1s;
    left: 0px;
    text-align: left;
    width: fit-content;
    white-space: wrap;
}

li:hover {
    transform: scale(1.10);
    text-decoration: underline;
    text-decoration-color: #FFC482;
    color: #FFC482;
    text-underline-offset: 3.2px;
    cursor:pointer;
    opacity: 100%;
}

ul{
    text-decoration: none;
}

#vxnuajtxt {
font-size: 53px;
position: absolute;
left: 570px;
top: 120px;
animation: fade-down 1s;
}

.jv2 {
    position: absolute;
    left: 575px;
    top: 209px;
    font-style: italic;
    font-size: 18px;
    animation: fade-down .9s;
}

#buildingtxt{
    font-size: 53px;
    position: absolute;
    left: 438px;
    top: 120px;
    animation: fade-down 1s;
}

#omdp{
    font-size: 16px;
    position: relative;
    width: auto;
    font-weight: 430;
    top: 0px;
    transition: .1s;
    line-height: 1.5;
}

#omdp2{
    font-size: 16px;
    position: relative;
    width: auto;
    font-weight: 430;
    top: 0px;
    transition: .1s;
}

#archivetxt{
    font-size: 53px;
position: absolute;
left: 438px;
top: 600px;
overflow: show;
animation: fade-down 1s;
}


#synthexiacrd {
    position: absolute;
    left: 0px;
    top: 129px;
    width: 560px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border: 2px solid #D9D9E3;
    z-index:5;
    transition: .1s;
}

#synthexiacrd:hover{
    scale: 1.04;
    
}

#synthexiatxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}

#synthexiaic {
  height: 40px;
    width: 40px;
    position: absolute;
    top: 19px;
    left: 25px;
}

#synthexiabody{
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#synthexiaimg{
    position: absolute;
    top: 14px;
    left: 5px;
    height: 50px;
    filter: brightness(100%);
    width: 75px;
    object-fit: cover;
    border-radius: 15px;
}

#ahcrd{
    position: absolute;
    left: 0px;
    top: 231px;
    width: 560px;
    height: 80px;
    border-radius: 10px;
    overflow:hidden;
    background-color: #f5f5f5;
    border: 2px solid #D9D9E3;
    z-index:5;
    transition: .1s; 
}

#ahcrd:hover{
    transform: scale(1.04);
}

#ahtxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}

#ahic {
  height: 40px;
    width: 40px;
    position: absolute;
    top: 19px;
    left: 23px;
}

#ahbody {
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#ahimg{
    position: absolute;
    top: -5px;
    left: -2.5px;
    height: 90px;
    filter: brightness(100%);
    width: 90px;
    object-fit: cover;
    border-radius: 15px;
}

.btspace {
    padding: 166px;
}


#ppcrd{
    position: absolute;
    left: 0px;
    top: 230px;
    width: 560px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border: 2px solid #D9D9E3;
    z-index:5;
    transition: .1s; 
}

#ppcrd:hover{
    transform: scale(1.04);
}

#ppic {
  height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    left: 24px;
}

#pptxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}


#ppbody{
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#ppimg{
    height: 70px;
    position: absolute;
    top: 5px;
    left: 7px;
}

.dpcrd{
    position: absolute;
    left: 0px;
    top: 130px;
    width: 560px;
    height: 80px;
    border-radius: 10px;
    border: 2px solid #D9D9E3;
    overflow: hidden;
    z-index:5;
    transition: .1s;
    background-color: #f5f5f5;
}

.bi-moon .dpcrd {
    border-color: #FF0000; /* Border color in dark mode */
  }

.dpcrd:hover {
    transform: scale(1.04);
}

#dptxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}

#dpbody{
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#dpic{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 20px;

}

#pwcrd{
    position: absolute;
    left: 0px;
    top: 332px;
    width: 560px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border: 2px solid#D9D9E3;
    z-index:5;
    transition: .1s;
}

#pwcrd:hover {
    transform: scale(1.04);
}

#pwic {
  height: 35px;
    width: 35px;
    position: absolute;
    top: 22px;
    left: 28px;
}

#pwtxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}

#pwbody{
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#pwimg{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 7px;
    left: 7px;
}



#metxt {
    position: relative;
    left: 445px;
    top: 280px;
    font-size: 19px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgba(0, 0, 0, 0);
    animation: fade-down 1s;
    line-height: 1.75;
}



#boldtxt {
font-weight: 600;
position: relative;
}






.vl{
    border-left: 1.5px solid #1E2938;
    position: absolute;
    height: 20px;
    left: 28px;
    top: 2px;
}


#statuscon {
    position: relative;
    left: 444px;
    top: 300px;
    color: inherit;
    border-radius: 10px;
    width: auto;
    height: auto;
    animation: fade-down 1s;

}

#statuscon p{
    position: relative;
    left: 0px;
    font-size: 18px;
    top: px;
    font-weight: 500;
}

.bi-bi-chat-fill {
    position: relative;
    left: 2px;
}

#msgme{
    text-underline-offset: 1.75px;
    transition: text-decoration .25s ease-in-out;
    text-decoration: underline solid transparent;

}

#msgme:hover {
    color: #FFC482;
    transition: .25s;
    text-decoration: underline solid #FFC482 ;
}






a:link { text-decoration: none; 
color: inherit;}


a:visited { text-decoration: none;
    color: inherit; }


a:hover { text-decoration: none; 
    color: inherit;}


a:active { text-decoration: none;
    color: inherit; }

    @keyframes fade-down { 0%{
        opacity: 0;
        transform: translateX(50px) scale(.9);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    }

/*/ about me /*/

#headtxt {
    font-size: 53px;
    position: absolute;
    left: 438px;
    top: 120px;
    animation: fade-down 1s;
}

#aboutp {
    position: absolute;
    left: 440px;
    top: 250px;
    line-height: 1.5;
    width: 630px;
    font-size: 16px;
    animation: fade-down .9s;
}

#connecttxt{
    position: relative;
    left: 435px;
    top: 850px;
    font-size: 20px;
    width: auto;
    font-weight: 550;
    animation: fade-down .9s; 
    text-decoration: underline;
    text-underline-offset: 6px;
}


#conmelinks{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    width: 490px;
    left: 430px;
    top: 853px;
    font-weight: 450;
    animation: fade-down .9s; 
    line-height: 2;
    border-radius: 18px;
    text-align: left;
}




#conmelinks li a{
    position: relative;
    display: block;
    margin: 5px;
    width: fit-content;
    text-align: left;
    left: -40px;
    transition: 0s;
    opacity: 75%;
}

#conmelinks li a:hover {
  opacity: 100%;
}

#instagram{
  position: relative;
}

#twitter{
  position: relative;
  left: 20px;
}

#github{
  position: relative;
  left: 40px;
}

#substack{
  position: relative;
  left: 65px;
}

#linkedin{
  position: relative;
}

#mail {
  position: relative;
  left: 38px;
}

#medium {
  position: relative;
  left: 77px;
}

#cv {
  position: relative;
  left: 90px;
}

.btspace2{
    position: absolute;
    top: 550px;
    left: -400px;
    padding: 280px;
}

/*/life.html/*/

#favbooks a{
    position: relative;
    top: 830px;
    left: 440px;
    font-size: 16px;
    font-weight: 600;
    text-underline-offset: 3px;
    animation: fade-down 1s;
    display: inline-block;
    text-underline-offset: 3px;
    animation: fade-down 1s;
    display: inline-block;

}


#favbooks a:hover{
    text-decoration: underline;
    text-decoration-color: #FFC482;
    color: #FFC482;
    transform: scale(1.05);
    transition: .2s;
}

#meditationsblck {
    position: absolute;
    top: 890px;
    left: 445px;
    height: 40px;
    width: fit-content;
    border-radius: 10px;
    animation: fade-down 1s;
    display: inline-block;
    transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);

}

#meditationsblck:hover {
    transform: scale(1.04);
}

#meditationsblck img {
    transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);
    cursor: alias;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: perspective(500px) rotate3d(0, 1, 0, 12deg);
}

#meditationsblck img:hover{
    transform: perspective(500px) rotate3d(0, 1, .2, 25deg);
}

#meditations {
    position: relative;
    object-fit: cover;
    top: 0px;
    left: 0px;
    height: 200px;
    width: auto;
    border-radius: 10px;
    animation: fade-down 1s;
}

#meditationstxt {
    position: relative;
    top: 11px;
    left: 0px;
    font-weight: 600;
    font-size: 14px;
    animation: fade-down 1s;
}

#meditationsuthor {
    position: relative;
    top: 19px;
    left: 0px;
    font-weight: 600;
    font-size: 14px;
    font-weight: 450;
    font-style: italic;
    animation: fade-down 1s;
}

#rcntmusic a{
    position: relative;
    top: 1165px;
    left: 440px;
    font-size: 16px;
    font-weight: 600;
    text-underline-offset: 3px;
    animation: fade-down 1s;
    display: inline-block;
    
}


#rcntmusic a:hover{
    text-decoration: underline;
    text-decoration-color: #FFC482;
    color: #FFC482;
    transform: scale(1.05);
    transition: .2s;
}

#boneblck {
    position: absolute;
    top: 890px;
    left: 645px;
    height: 40px;
    width: fit-content;
    border-radius: 10px;
    animation: fade-down 1s;
    display: inline-block;
    transition: .2s;
}


#boneblck:hover {
    transform: scale(1.04);
}

#boneblck img {
    transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);
    cursor: alias;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: perspective(500px) rotate3d(0, 1, 0, 12deg);
}

#boneblck img:hover {
    transform: perspective(500px) rotate3d(0, 1, .2, 25deg);
}

#bone {
    position: relative;
    object-fit: cover;
    top: 0px;
    left: 0px;
    height: 200px;
    width: auto;
    border-radius: 10px;
    animation: fade-down 1s;
}

#bonetxt {
    position: relative;
    top: 11px;
    left: 0px;
    font-weight: 600;
    font-size: 14px;
    animation: fade-down 1s;
}

#boneauthor {
    position: relative;
    top: 19px;
    left: 0px;
    font-weight: 600;
    font-size: 14px;
    font-weight: 450;
    font-style: italic;
    animation: fade-down 1s;
}


#headphones {
    position: absolute;
    top: 568px;
    left: 610px;
    font-size: 25px;
    font-weight: 600;
}

#headphones:hover{
    transform: scale(1.05);
    transition: .3s;
}

/*/life.html images/*/
.imgtxt{
  position: absolute;
  top: 330px;
  left: 430px;
  height: fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  text-underline-offset: 3px;
  animation: fade-down 1s;
  margin: 10px
}

.imgtxt:hover {
  text-decoration: underline;
  text-decoration-color: #FFC482;
  color: #FFC482;
  transform: scale(1.05);
  transition: .2s;
}



.image-container {
  position: absolute;
  left: 440px;
  top: 395px;
  width: 600px;
  height: auto;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(0px, 157px));
  grid-auto-rows: minmax(0px, auto);
  grid-gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.sample_img {
  width: 30%;
  height: auto;
  object-fit: cover;
  padding: 0;
  border-radius: 7px;
  align-self: flex-start;
  position: relative;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);
  transform: perspective(500px) rotate3d(0, 1, 0, 0deg);
  cursor: alias;
  animation: fade-down .9s;
}

.sample_img:hover {
  transform: perspective(500px) rotate3d(0, 1, .2, 25deg);
}







/*/ weather /*/

#weather-results{
    position: relative;
    left: 445px;
    top: 297px;
    font-size: 18px;
    width: auto;
    height: 18px;
    font-weight: 500;
    animation: fade-down 1s;
}

.weather-temp-bold {
    font-weight: 750;
  }

.weather-description{
    font-weight: 500;
    font-size: 11px;
}

#city {
    font-weight: 750;
}

#weather-results span{
    color: inherit;
}

.thermometer {
    position: absolute;
    left: 403px;
    top: 4.5px;
}






/* music from lastfm+apple music /*/

    .nowplaying {
        position: absolute;
        left: 452px;
        top: 575px;
        width: 560px;
        padding-left:10px ;
        margin: 0px;
        border-radius: 7px;
        transition-duration: .25s;
        animation: fade-down 1s;
        
      }
      
      .nowplaying:hover{
        transform: scale(1.04);
      }

      a.nowplaying {
        opacity: 1;
        border: 1;
      }
      a.nowplaying:hover img {
        transform: scale(1.02) translateX(-0.2vw) perspective(500px) rotate3d(0, -1, 0.01, 6deg);
      }
      
      .nowplaying .np-metadata > span {
        font-size: 14px;
        letter-spacing: -0.01em;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        width: auto;
        position: relative;
        top: 0px;
        left: 0px;

      }

      
      .nowplaying .np-metadata {
        margin-top: 16px;
        opacity: 0;
        transition: opacity 0.4s ease-out;
        transition-delay: 0.5s;
        
      }
      .nowplaying.loaded .np-metadata {
        opacity: 1;
        position: absolute;
        line-height: 1.75;
        left: 85px;
        top: -18.5px;
        height: 20px;
        width: auto;
      }
      
      .nowplaying img {
        opacity: 0;
        transform: scale(0.97) translateX(10px) perspective(500px);
        border-radius: 5px;
        width: auto;
        height: 60px;
        box-shadow: 0 0 25px rgba(0,0,0,0.2);
        object-fit: cover;
        transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);
        position: absolute;
        top: -31px;
        left: -1px;
      }
      
      .nowplaying.loaded img {
        opacity: 1;
        transform: perspective(500px) rotate3d(0, 1, 0, 4deg);
      }
      
      .nowplaying .np-metadata .np-heading {
        position: absolute;
        top: -20px;
        left: 0px;
        font-size: 14px;
        font-weight: 900;
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: 0.11em;
        width: auto;
        font-style: italic;
      }
      
      .nowplaying .np-metadata .np-roon {
        width: 10px;
        opacity: 0.5;
      }
    


      @keyframes pulsate {
        0% { transform: scale(0.2, 0.2) rotate(0deg); opacity: 0.0; }
        50% { transform: scale(1, 1) rotate(50deg); opacity: 1; }
        80% { transform: scale(1.8, 1.8) rotate(80deg); opacity: 0.2; }
        100% { transform: scale(4, 4) rotate(100deg); opacity: 0; }
      }

      /*/ life.html tracks /*/

      .now-playing {
        position: absolute;
        left: 445px; /* Adjust the positioning as per your requirements */
        top: 1250px; /* Adjust the positioning as per your requirements */
        z-index: 1001;
        transition-duration: .25s;
      }

      .now-playing:hover{
        transform: scale(1.04);
      }

      .now-playing a.now-playing {
        opacity: 1;
        border: 0;
      }

      .now-playing a.now-playing:hover img {
        transform: scale(1.02) translateX(0.2vw) perspective(500px) rotate3d(0, 1, 0.01, 6deg);
      }

      .now-playing .np-metadata .np-heading {
        position: absolute;
        top: -24px;
        left: 0px;
        font-size: 14px;
        font-weight: 900;
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: 0.11em;
        width: auto;
        font-style: italic;
      }

      .now-playing .np-metadata > span {
        display: block;
        font-size: 14px;
        letter-spacing: -0.01em;
        font-weight: 500;
        line-height: 180%;
        text-align: left;
      }

      .now-playing .np-metadata {
        opacity: 1;
        position: relative;
        width: 155px;
        left: 5px;
      }

      .now-playing.loaded .np-metadata {
        opacity: 1;
        position: relative;
        width: 155px;
        left: 5px;
        top: 34px;
      }

      .now-playing .np-metadata .np-date {
        font-size: 10px;
      }

      .now-playing img {
        opacity: 0;
        transform: scale(0.97) translateX(-10px) perspective(500px);
        border-radius: 13px;
        width: 150px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);
      }

      .now-playing.loaded img {
        opacity: 1;
        transform: perspective(500px) rotate3d(00, 1, 0, 12deg);
      }

      .now-playing.loaded img:hover{
        transform: perspective(500px) rotate3d(0, 1, .2, 25deg);
        cursor: alias;
        
      }


      .now-playing .np-metadata .np-roon {
        width: 10px;
        opacity: 0.5;
      }
      
      .now-playing .np-metadata .breather {
        margin-right: 8px;
        display: inline-block;
        animation: pulsate 5s linear 0s infinite;
      }
      
      @keyframes pulsate {
        0% {
          transform: scale(0.2, 0.2) rotate(0deg);
          opacity: 0.0;
        }
        50% {
          transform: scale(1, 1) rotate(50deg);
          opacity: 1;
        }
        80% {
          transform: scale(1.8, 1.8) rotate(80deg);
          opacity: 0.2;
        }
        100% {
          transform: scale(4, 4) rotate(100deg);
          opacity: 0;
        }
      }


      .now-playing.second-track {
        position: absolute;
        left: 655px; /* Adjust the positioning as per your requirements */
        top: 1250px; /* Adjust the positioning as per your requirements */
        z-index: 1001;
      }
      
      .now-playing.second-track a.now-playing {
        opacity: 1;
        border: 0;
      }
      
      .now-playing.second-track a.now-playing:hover img {
        transform: scale(1.02) translateX(0.2vw) perspective(500px) rotate3d(0, 1, 0.01, 6deg);
      }
      
      .now-playing.second-track .np-metadata > span {
        display: block;
        font-size: 14px;
        letter-spacing: -0.01em;
        font-weight: 500;
        line-height: 180%;
        text-align: left; /* Adjust the alignment as per your requirements */
      }
      
      .now-playing.second-track .np-metadata {
        margin-top: 16px;
        opacity: 0;
        transition: opacity 0.4s ease-out;
      }
      
      .now-playing.second-track.loaded .np-metadata {
        opacity: 1;
        position: relative;
        width: 155px;
        left: 5px;
        top: -8px;
      }

      .now-playing.second-track .np-metadata .np-date {
        font-size: 10px;
      }
      
      
      .now-playing.second-track img {
        opacity: 0;
        transform: scale(0.97) translateX(-10px) perspective(500px);
        border-radius: 13px;
        width: 150px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);
      }
      
      .now-playing.second-track.loaded img {
        opacity: 1;
        transform: perspective(500px) rotate3d(0, 1, 0, 12deg);
      }

      .now-playing.second-track.loaded img:hover{
        transform: perspective(500px) rotate3d(0, 1, .2, 25deg);
        cursor: alias;
        
      }

      
      .now-playing.second-track .np-metadata .np-roon {
        width: 10px;
        opacity: 0.5;
      }
      
      .now-playing.second-track .np-metadata .breather {
        margin-right: 8px;
        display: inline-block;
        animation: pulsate 5s linear 0s infinite;
      }
      
      @keyframes pulsate {
        0% {
          transform: scale(0.2, 0.2) rotate(0deg);
          opacity: 0.0;
        }
        50% {
          transform: scale(1, 1) rotate(50deg);
          opacity: 1;
        }
        80% {
          transform: scale(1.8, 1.8) rotate(80deg);
          opacity: 0.2;
        }
        100% {
          transform: scale(4, 4) rotate(100deg);
          opacity: 0;
        }
      }

      .now-playing.third-track {
        position: absolute;
        left: 865px; /* Adjust the positioning as per your requirements */
        top: 1250px; /* Adjust the positioning as per your requirements */
        z-index: 1001;
      }
      
      .now-playing.third-track a.now-playing {
        opacity: 1;
        border: 0;
      }
      
      .now-playing.third-track a.now-playing:hover img {
        transform: scale(1.02) translateX(0.2vw) perspective(500px) rotate3d(0, 1, 0.01, 6deg);
      }
      
      .now-playing.third-track .np-metadata > span {
        display: block;
        font-size: 14px;
        letter-spacing: -0.01em;
        font-weight: 500;
        line-height: 180%;
        text-align: left; /* Adjust the alignment as per your requirements */
      }
      
      .now-playing.third-track .np-metadata {
        margin-top: 16px;
        opacity: 0;
        transition: opacity 0.4s ease-out;
      }
      
      .now-playing.third-track.loaded .np-metadata {
        opacity: 1;
        position: relative;
        width: 155px;
        left: 5px;
        top: -8px;
      }

      .now-playing.third-track .np-metadata .np-date {
        font-size: 10px;
      }
      
      
      .now-playing.third-track img {
        opacity: 0;
        transform: scale(0.97) translateX(-10px) perspective(500px);
        border-radius: 13px;
        width: 150px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      
        transition: all 1s cubic-bezier(0.13, 0.95, 0, 1), transform 2s cubic-bezier(0.13, 0.95, 0, 1);
      }
      
      .now-playing.third-track.loaded img {
        opacity: 1;
        transform: perspective(500px) rotate3d(0, 1, 0, 12deg);
      }

      .now-playing.third-track.loaded img:hover {
        opacity: 1;
        transform: perspective(500px) rotate3d(0, 1, .2, 25deg);
      }

      
      .now-playing.third-track .np-metadata .np-roon {
        width: 10px;
        opacity: 0.5;
      }
      
      .now-playing.third-track .np-metadata .breather {
        margin-right: 8px;
        display: inline-block;
        animation: pulsate 5s linear 0s infinite;
      }
      
      @keyframes pulsate {
        0% {
          transform: scale(0.2, 0.2) rotate(0deg);
          opacity: 0.0;
        }
        50% {
          transform: scale(1, 1) rotate(50deg);
          opacity: 1;
        }
        80% {
          transform: scale(1.8, 1.8) rotate(80deg);
          opacity: 0.2;
        }
        100% {
          transform: scale(4, 4) rotate(100deg);
          opacity: 0;
        }
      }
      

      #buytxt {
        position: relative;
        height: 17px;
        width: 155px;
        top: 400px;
        left: 445px;
        font-weight: 600;
        border: 1.5px solid #d9d9e37a;
        background-color: #aaaab115;
        border-radius: 13px;
        padding: 15px;
        text-align: center;
        align-items: center;
        transition: .25s;
        animation: fade-down 1s;
      }

      #buytxt:hover {
        scale: 1.08;
      }

      #book {
        position: relative;
        font-size: 25px;
        top: -7px;
      }

      #buytxtp {
        position: relative;
        top: -11px;
      }


  /*/ philo blog /*/

/* style.css */
.blog-link {
  text-underline-offset: 1.75px;
  text-decoration: underline solid transparent;
  text-align: left;
  position: relative;
  left: -34px;
  font-weight: 600;
  line-height: 0;
  animation: fade-down .9s;
  transition: .1s;
  width: fit-content;
}


#blog-title {
  font-weight: bold;
  font-size: 53px;
  margin-bottom: 10px;
  position: relative;
  animation: fade-down .9s;
}

#blog-list{
  position: relative;
  top: 340px;
  left: 464px;
  height: auto;
  width: 500px;
  text-align: left;
  animation: fade-down .9s;
}

.blog-link:hover {
  font-size: 17px;
  transform: scale(1.10);
  text-decoration: underline;
  text-decoration-color: #FFC482;
  color: #FFC482;
  cursor:pointer;
  transition: .25s;
  animation: fade-down .9s;
}



#blog-container {
  display: show;
  position: relative;
  left: 330px;
  top: 112px;
  animation: fade-down .9s;

}

.blog-description {
  margin-bottom: px;
  animation: fade-down .9s;
  position: relative;
  top: -8px;
  left: -34px;
  opacity: 70%;
  font-weight: 400;
  font-size: 13px;
  font-style: italic;

}

#blog-content {
  width: 650px;
  line-height: 1.5;
  position: relative;
  top: 50px;
  left: 6px;

}

#blog-date {
  position: relative;
  top: 15px;
  left: 5px;
  opacity: 80%;
  font-weight: 500;
  font-size: 17px;
}


.btspace3{
  position: absolute;
  padding: 50px;
}

#back2p {
  position: absolute;
  left: 340px;
  top: 95px;
  opacity: 80%;
  font-weight: 500;
  animation: fade-down .9s;
}

#back2p:hover{
  transform: scale(1.08);
  text-decoration: underline;
    text-decoration-color: #FFC482;
    color: #FFC482;
    text-underline-offset: 1px;
    cursor:pointer;
    opacity: 100%;
    transition: .2s;
}

#blog-list .blog-date {
  position: relative;
  top: -14px;
  left: -34px;
  font-size: 11px;
  font-weight: 500;
  opacity: 85%;
  animation: fade-down .9s;
}


 