
body {
    background-color: #ffffff;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
    overflow: scroll;
}


#toggleDark{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 690px;
    transition: .1s;
}

#toggleDark:hover {
    transform: scale(1.10);
}

#navbar {
    width: 500px;
    display: inline;
    position: fixed;
    left: 405px;
    top: 90px;
    font-weight: 400;
    color: inherit;

}

.projhov {
    text-align: center;
    box-sizing: border-box;
    background-color: inherit;
    border: inherit;
    position: relative;
    padding-right: 30px;

}

.navtxt {
    text-align: center;
    box-sizing: border-box;
    background-color: inherit;
    border: inherit;
    position: relative;
    padding-right: 30px;
}

.projdrop {
    position: relative;
}

.projectmen {
    width: 53px;
    height: 53px;
    position: absolute;
    top: 17px;
    left: 3px;
    text-align: left;
    padding: 0px;
    font-size: 13px;
    z-index: 1;
    padding-top: 8px;
    pointer-events: none;
}

.projdrop:hover .projectmen{
    display: block;
    pointer-events: auto;
}

.projdrop:hover .projectmen a{
    opacity: 1;
    pointer-events: auto;
}

.projectmen a{
    line-height: 25px;
    position: relative;
    top: -2px;
    left: -2px;
    padding: 0px;
    opacity: 0;
    transition: ease-in-out opacity 0.3s;
    pointer-events: none;
}


li {
    list-style: none;
    display: inline-block;
    padding-right: 0px;
    transition: .1s;
    left: 0px;
    text-align: center;
}

li:hover {
    transform: scale(1.10);
    cursor:pointer;
    
}

ul{
    text-decoration: none;
}
#vxnuajtxt {
font-size: 45px;
position: absolute;
left: 445px;
top: 143px;
}

#buildingtxt{
    font-size: 40px;
position: absolute;
left: 450px;
top: 150px;
overflow: show;
}

#omdp{
    font-size: 16px;
    position: absolute;
    width: 294px;
    font-weight: 400;
    top: 50px;
    transition: .1s;
}

#archivetxt{
    font-size: 40px;
position: absolute;
left: 450px;
top: 144px;
overflow: show;
}

#archivep{
    font-size: 16px;
    position: absolute;
    width: 294px;
    font-weight: 400;
    top: 50px;
}

#synthexiacrd {
    position: absolute;
    left: 0px;
    top: 105px;
    width: 560px;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
    background-color: inherit;
    border: 1px solid #1E2938;
    z-index:5;
    transition: .1s;
}

#synthexiacrd:hover{
    scale: 1.04;
    
}
#synthexiacrd:hover ~ #synthexiaimgsh {
    scale: 1.04;
}

#synthexiatxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}

#synthexiabody{
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#synthexiaimg{
    position: absolute;
    top: 14px;
    left: 5px;
    height: 50px;
    filter: brightness(100%);
    width: 75px;
    object-fit: cover;
    border-radius: 15px;
}

#ahcrd{
    position: absolute;
    left: 0px;
    top: 200px;
    width: 560px;
    height: 80px;
    border-radius: 20px;
    overflow:hidden;
    background-color: inherit;
    border: 1px solid #1E2938;
    z-index:5;
    transition: .1s; 
}

#ahcrd:hover{
    transform: scale(1.04);
}

#ahtxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}

#ahbody {
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#ahimg{
    position: absolute;
    top: -5px;
    left: -2.5px;
    height: 90px;
    filter: brightness(100%);
    width: 90px;
    object-fit: cover;
    border-radius: 15px;
}


#ppcrd{
    position: absolute;
    left: 0px;
    top: 200px;
    width: 560px;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
    background-color: inherit;
    border: 1px solid #1E2938;
    z-index:5;
    transition: .1s; 
}

#ppcrd:hover{
    transform: scale(1.04);
}

#pptxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}
#ppbody{
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#ppimg{
    height: 70px;
    position: absolute;
    top: 5px;
    left: 7px;
}

#dpcrd{
    position: absolute;
    left: 0px;
    top: 105px;
    width: 560px;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
    background-color: inherit;
    border: 1px solid #1E2938;
    z-index:5;
    transition: .1s;
}

#dpcrd:hover {
    transform: scale(1.04);
}

#dptxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}

#dpbody{
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#dpimg{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 11px;
    left: 11px;
}

#pwcrd{
    position: absolute;
    left: 0px;
    top: 295px;
    width: 560px;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
    background-color: inherit;
    border: 1px solid #1E2938;
    z-index:5;
    transition: .1s;
}

#pwcrd:hover {
    transform: scale(1.04);
}

#pwtxt{
    font-size: 16px;
    font-weight: 650;
    text-align: left;
    position: absolute;
    left: 85px;
    z-index: 1;
}

#pwbody{
    font-size: 15px;
    text-align: left;
    left: 85px;
    position: absolute;
    top: 28px;
    font-style: italic;
    font-weight: 400;
}

#pwimg{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 7px;
    left: 7px;
}

#side {
    position: fixed;
    top: 90px;
    width: 255px;
    height: 600px;
    left: 100px;
    border-radius: 40px;
    border-width: 2.5px;
    overflow: hidden;
    transition: .1s;
    z-index: 1;
    overflow: show;
    border: 1.75px solid #1e293898;
    ;
}

#sideimg {
    height: 100%;
}

#sideimgsh{
    position: fixed;
    top: 120px;
    width: 255px;
    height: 600px;
    left: 80px;
    border-radius: 40px;
    overflow: hidden;
    transition: .2s;
    filter: blur(10px);
    opacity: 70%;
    background: transparent;
    backdrop-filter: blur(0px);
}

#sideimg2{
    position: absolute;
    height: 600px;
    left: -1px;
    top: -3px;
    filter: brightness(200%);
    border: 1.75px solid #1e293898;
    width: 255px;
    border-radius: 40px;
    object-fit: cover;
}


#sideimgsh2{
    position: fixed;
    top: 110px;
    width: 260px;
    height: 590px;
    left: 90px;
    border-radius: 40px;
    overflow: hidden;
    transition: .2s;
    filter: brightness(110%)blur(5px);
    background: transparent;
    backdrop-filter: blur(5px);
}

#sideimg3{
    position: absolute;
    height: 600px;
    left: -1px;
    top: -3px;
    border: 1.75px solid #1e293898;
    width: 255px;
    border-radius: 40px;
    object-fit: cover;
}

#sideimg4 {
    position: absolute;
    height: 600px;
    left: -1px;
    top: -3px;
    border: 1.75px solid #1e293898;
    width: 255px;
    border-radius: 40px;
    object-fit: cover;
}



#side:hover {
    transform: scale(1.02);
}



#waitxt {
    position: relative;
    left: 440px;
    top: 240px;
    font-size: 18px;
    width: 420px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgba(0, 0, 0, 0);
    animation:
        typing 2s steps(34),
        cursor .4s step-end infinite alternate;
}

#interesttxt {
    position: relative;
    left: 440px;
    top: 255px;
    font-size: 18px;
    width: 500px;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
    border-right: 3px solid rgba(0, 0, 0, 0);
}

#lifetxt {
    position: relative;
    left: 440px;
    top: 270px;
    font-size: 18px;
    width: 370px;
    border-right: 3px solid rgba(0,0,0,0);
    overflow: hidden;
    color: transparent;
    white-space: nowrap;

}
#runtxt {
    position: relative;
    left: 440px;
    top: 285px;
    font-size: 18px;
    width: 125px;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
    border-right: 3px solid rgba(0,0,0,0);
}

/*/animation for typing/*/
   
@keyframes typing {
    from { width: 0px }
}

/*/blinking cursor/*/

@keyframes cursor {
    to {border-color: transparent;}
}



#boldtxt {
font-weight: 600;
position: relative;
}

.socialicons {
    position: relative;
    top: 350px;
    left: 40px;
}

.socialicons2{
fill: inherit;
   z-index: 2;
}

.sicon{
    position: fixed;
    top: 660px;
    left: 460px;
    border: 1px solid #1E2938;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 4px;
    border-radius: 20px;
    width: 230px;
    height: 27px;
    background-color:inherit;
    z-index: 5;
    backdrop-filter: blur(1.5px);
    overflow: show;
}

.bi-bi-house-fill {
    position: relative;
    top: 0px;
    left: -9px;
    height: 20px;
    width: 25px;
}

.vl{
    border-left: 1.5px solid #1E2938;
    position: absolute;
    height: 20px;
    left: 53px;
    top: 10px;
}


a:link { text-decoration: none; 
color: inherit;}


a:visited { text-decoration: none;
    color: inherit; }


a:hover { text-decoration: none; 
    color: inherit;}


a:active { text-decoration: none;
    color: inherit; }


