
body {
    background-color: #FAE9DA;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#vxnuajtxt {
font-size: 45px;

position: relative;
left: 350px;
top: 100px;

}

#waitxt {
    position: relative;
    left: 350px;
    top: 100px;
    font-size: 20px;
    }

#learnertxt {
font-weight: 600;
position: relative;
}

.socialicons {
    position: relative;
    top: 150px;
    left: -430px;
}

.bsc-instagram-social{
    position: relative;
}

.bsc-twitter-social {
    position: relative;
}
.bsc-email-message-inbox {
    position: relative;
}

