a {
    color: #000;
    text-decoration: none;
}

.links {
    font-weight: normal;
    font-size: 25px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: linear-gradient(to right top, #f686ec, #ee7ced, #e573ef, #db6af1, #d061f4, #be67f9, #ab6cfc, #9771ff, #7b7ffe, #6489f8, #5591ee, #5397e1);
}