html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Serif', serif;
}

a {
  color: inherit;
}

a:hover{
  text-decoration: underline;
  cursor: alias;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 2px solid #000000;  /* Adjust the color and size as needed */
  padding-left: 10px;           /* Adjust the padding as needed */
  margin-left: 0;               /* Adjust the margin as needed */
}

Link {
  cursor: alias;
}