.writHeading {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Source Serif Pro', serif;
    position: relative;
    left: 30.5%;
    top: 150px;
    margin-bottom: 10px; /* Add some bottom margin for spacing */
    max-width: 600px;
  }

.writDes{
    font-size: 16px;
    font-style: italic;
    font-family: 'Source Serif Pro', serif;
    position: relative;
    top: 150px;
    left: 30.5%;
    max-width: 600px;
    line-height: 25px;
}

.writLinks {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif;
    position: relative;
    top: 150px;
    left: 30.5%;
    max-width: 600px;
    text-decoration: none;
}

.blogList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: 30.5%;
    top: 160px;
    max-width: 600px;
}

.blogPost {
    margin-bottom: 20px;
    max-width: 600px;
    font-weight: 540;
}

.blogHeading{
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 0;
    font-style: italic;
    max-width: 600px;
}

  /* Media query for smaller screens */
  @media (max-width: 870px) {
    .writHeading,
    .writDes,
    .writLinks,
    .blogList,
    .backButton {
      position:relative; /* Remove relative positioning on smaller screens */
      top: 150px;
      left: 100px;

    }
  }
  
  @media (max-width: 730px) {
    .writHeading,
    .writDes,
    .writLinks,
    .blogList,
    .backButton {
      position:relative; /* Remove relative positioning on smaller screens */
      top: 150px;
      max-width: 550px;

    }
  }

    
  @media (max-width: 680px) {
    .writHeading,
    .writDes,
    .writLinks,
    .blogList,
    .backButton {
      position:relative; /* Remove relative positioning on smaller screens */
      top: 150px;
      max-width: 400px;

    }
  }
  @media (max-width: 680px) {
    .writHeading,
    .writDes,
    .writLinks,
    .blogList,
    .backButton {
      position:relative; /* Remove relative positioning on smaller screens */
      top: 150px;
      left: 50px;
      max-width: 400px;

    }
  }

  .a {
    text-decoration: none;
  }

  .a:hover {
    text-decoration: underline;
  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }