.writHeading {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Source Serif Pro', serif;
    position: relative;
    left: 30.5%;
    top: 155px;
    margin-bottom: 10px; /* Add some bottom margin for spacing */
    max-width: 600px;
  }

.writDes{
    font-size: 16px;
    font-style: italic;
    font-family: 'Source Serif Pro', serif;
    position: relative;
    top: 150px;
    left: 30.5%;
    max-width: 600px;
    line-height: 25px;
}

.writLinks {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif;
    position: relative;
    top: 150px;
    left: 30.5%;
    max-width: 600px;
    text-decoration: none;
    font-weight: 550;
}

.blogList {
    list-style: none;
    position: relative;
    left: 27.2%;
    top: 170px;
    max-width: 600px;
}

.blogPost {
    margin-bottom: 20px;
    max-width: 600px;
}

.blogHeading{
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 0;
    font-style: italic;
    max-width: 600px;
}
